html{
    --link-colour: black;
    --background-colour: white;
    --text-colour: black;
    --selection-background-colour: black;
    --selection-text-colour: white;
  }

@media (prefers-color-scheme: dark) {
    html{
        --link-colour: #F1F1F1;
        --background-colour: #171717;
        --text-colour: #F1F1F1;
        --selection-background-colour: #F1F1F1;
        --selection-text-colour: #171717;
    }
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceSans3-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('SourceSans3-Italic.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceSans3-Bold.woff') format('woff');
}

body {
    font-family: 'Source Sans 3';
    width: 40%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background: var(--background-colour);
    color: var(--text-colour);
}

@media only screen and (max-width: 600px) { body { width:90%; } }
@media only screen and (min-width: 600px) { body { width:90%; } }
@media only screen and (min-width: 768px) { body { width:80%; } }
@media only screen and (min-width: 1200px) { body { width:40%; } }
@media only screen and (min-width: 1650px) { body { width:30%; } }
@media only screen and (min-width: 3000px) { body { width:20%; } }

::selection {
    background: var(--selection-background-colour);
    color: var(--selection-text-colour);
}
::-moz-selection {
    background: var(--selection-background-colour);
    color: var(--selection-text-colour);
}

h1, h2, h3 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
    text-align: left;
    line-height: 1.0
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a:link, a:visited {
    color: var(--link-colour);
    text-decoration: underline;
}

a:hover{
    color: #aaa;
    text-decoration: underline;
}

p, dl, ol, ul, details {
    line-height: 1.75rem;
    font-size: large;
    vertical-align: baseline;
}

p, details {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

details {
    border: 1px dashed #aaa;
    border-radius: 4px;
    padding: 0.5rem;
}

p.quote {
    font-style: italic;
    margin: 1em auto 1em auto;
    width: 80%;
}
