body {
  width:40%;
  text-align: left;
  margin-left: auto;
  margin-right:auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: 14pt;
}

@media only screen and (max-width: 900px) {
  body {
    width:80%;
  }
}

::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}

h1, h2, h3 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    text-align: left;
    line-height: 0.9
}

h1 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}

a:hover{
    color: #aaa;
    text-decoration: underline;
}

p, dl, ol, ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    vertical-align: baseline;
}

p.quote {
    font-style: italic;
    margin: 1em auto 1em auto;
    width: 80%;	
}
